[req]
default_bits = 2048
prompt = no
encrypt_key = no
distinguished_name = dn
req_extensions = req_ext

[dn]
CN=### FQDN ###
C=### C ###
O=### O ###
L=### L ###
ST=### ST ###

[req_ext]
subjectAltName = ### ALTNAMES ###
